Source: eja
Section: web
Priority: optional
Maintainer: Ubaldo Porcheddu <ubaldo@eja.it>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9), liblua5.2-dev, pkg-config
Homepage: http://eja.it
Vcs-Git: https://github.com/ubaldus/eja.git
Vcs-Browser: https://github.com/ubaldus/eja

Package: eja
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: micro web server for static and dynamic Lua generated content.
 eja is a stand alone Lua interpreter with embedded support for sockets,
 forking and directory underlying structure access, it can act as a micro web
 server for static and dynamic generated content or as a text scanner using
 Lua pattern matching syntax.
