Version: 9.2.28-1
Maintainer: Ubaldo Porcheddu <ubaldo@eja.it>
Source: eja
Package: eja
Section: web
Priority: optional
Architecture: any
Depends: libc6 (>= 2.14)
Description: micro web server for static and dynamic Lua generated content.
 eja can be used as a micro web server for static and dynamic generated content, as a text scanner using Lua pattern matching syntax or as a standalone Lua interpreter.
